NR_orchestateur/flows_L50-FK.json
[{"id":"d2e7b5cb.f69ed8","type":"tab","label":"Orchestrateu","disabled":false,"info":""},{"id":"fde533e9.f9824","type":"tab","label":"SMS","disabled":false,"info":""},{"id":"6d0ce5ce.5d24ec","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"200ac30a.27ebac","type":"ui_group","z":"","name":"G1","tab":"250f8afc.467546","disp":true,"width":"6","collapse":false},{"id":"c1a6f53b.1eb3f8","type":"ui_group","z":"","name":"G2","tab":"250f8afc.467546","disp":true,"width":"6","collapse":false},{"id":"250f8afc.467546","type":"ui_tab","z":"","name":"FORUM","icon":"dashboard"},{"id":"7c8a3ba9.cb2ed4","type":"ui_group","z":"","name":"G3","tab":"469d4fbc.ac4ef","disp":true,"width":"6","collapse":false},{"id":"469d4fbc.ac4ef","type":"ui_tab","z":"","name":"FORUM","icon":"dashboard"},{"id":"7aaa61a5.f07b8","type":"ui_group","z":"","name":"G3","tab":"6c6e6fbf.a1b42","disp":true,"width":"6","collapse":false},{"id":"6c6e6fbf.a1b42","type":"ui_tab","z":"","name":"FORUM","icon":"dashboard"},{"id":"78aa453d.2dd74c","type":"ui_group","z":"","name":"test","tab":"6438ccac.a98f34","order":1,"disp":true,"width":"10","collapse":true},{"id":"6438ccac.a98f34","type":"ui_tab","z":"","name":"test","icon":"dashboard","order":26},{"id":"ac0bce80.593b4","type":"ui_group","z":"","name":"Default","tab":"9e4fa9f0.91c508","disp":true,"width":"6","collapse":false},{"id":"9e4fa9f0.91c508","type":"ui_tab","z":"","name":"Start","icon":"dashboard"},{"id":"d839c03d.ba1ac","type":"ui_group","z":"","name":"Default","tab":"ff7ade28.a1968","disp":true,"width":"6","collapse":false},{"id":"ff7ade28.a1968","type":"ui_tab","z":"","name":"Start","icon":"dashboard"},{"id":"c66a21a.5f1cce","type":"ui_group","z":"","name":"Group 1","tab":"cc4cdba2.ad0688","order":1,"disp":true,"width":"6","collapse":false},{"id":"cc4cdba2.ad0688","type":"ui_tab","z":"","name":"Curing","icon":"dashboard"},{"id":"f078cc91.eea1d","type":"ui_group","z":"","name":"G1","tab":"18b59351.d592cd","disp":true,"width":"6","collapse":false},{"id":"b3141261.96b46","type":"ui_group","z":"","name":"G2","tab":"18b59351.d592cd","disp":true,"width":"6","collapse":false},{"id":"18b59351.d592cd","type":"ui_tab","z":"","name":"FORUM","icon":"dashboard"},{"id":"40f026d0.83abb8","type":"ui_group","z":"","name":"test","tab":"1f9d25b3.9f449a","order":1,"disp":true,"width":"10","collapse":true},{"id":"1f9d25b3.9f449a","type":"ui_tab","z":"","name":"test","icon":"dashboard","order":26},{"id":"36c0065b.e395da","type":"ui_group","z":"","name":"test","tab":"5b789ba9.680dc4","order":1,"disp":true,"width":"10","collapse":true},{"id":"5b789ba9.680dc4","type":"ui_tab","z":"","name":"test","icon":"dashboard","order":26},{"id":"c97c0ce7.5b82c","type":"ui_group","z":"","name":"G1","tab":"12965d16.36fb53","disp":true,"width":"6","collapse":false},{"id":"544684bb.f98dac","type":"ui_group","z":"","name":"G2","tab":"12965d16.36fb53","disp":true,"width":"6","collapse":false},{"id":"12965d16.36fb53","type":"ui_tab","z":"","name":"FORUM","icon":"dashboard"},{"id":"b6b1c559.dbda58","type":"ui_group","z":"","name":"Menu","tab":"2545a80.7f1ef58","disp":true,"width":"6","collapse":false},{"id":"695f5d8.5cf29a4","type":"ui_group","z":"","name":"Group 2","tab":"2545a80.7f1ef58","order":3,"disp":true,"width":"6","collapse":false},{"id":"26c0267e.b06baa","type":"ui_group","z":"","name":"Group 1","tab":"2545a80.7f1ef58","order":2,"disp":true,"width":"6","collapse":false},{"id":"eb71d297.94d6d","type":"ui_group","z":"","name":"Group 3","tab":"2545a80.7f1ef58","order":4,"disp":true,"width":"6","collapse":false},{"id":"2545a80.7f1ef58","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"3f39840d.e89c2c","type":"ui_group","z":"","name":"Default","tab":"50d001af.6b483","order":3,"disp":true,"width":"6","collapse":false},{"id":"1bc6c539.45d6bb","type":"twitter-credentials","z":"","screen_name":""},{"id":"32963089.85c","type":"ui_group","z":"","name":"Activate things","tab":"56fa6345.87e26c","disp":true,"width":"6","collapse":false},{"id":"c60347de.e14a48","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"56fa6345.87e26c","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"e29414e4.f85c08","type":"ui_link","name":"Link 3","icon":"open_in_browser","target":"newtab","order":3},{"id":"e43192a0.db4c8","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"c245fb89.feb748","type":"ui_group","z":"","name":"Color picker","tab":"56fa6345.87e26c","order":2,"disp":true,"width":"6","collapse":false},{"id":"21cd8c10.521ec4","type":"ui_group","z":"","name":"Chart","tab":"56fa6345.87e26c","disp":true,"width":"6","collapse":false},{"id":"c99a12e8.10b7b","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.154","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4f45f82.3e08908","type":"mqtt-broker","z":"","name":"","broker":"192.168.43.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"da929653.2f78e8","type":"google-credentials","z":"","displayName":""},{"id":"ebf889d0.5ad188","type":"twilio-api","z":"","name":"aquarium","sid":"AC6fe12939d1255befd1a33be86bb75bdb","from":"+33644643390"},{"id":"3fba9747.2c35d8","type":"mqtt in","z":"d2e7b5cb.f69ed8","name":"","topic":"aquarium/1/sensors/ph","qos":"2","broker":"c99a12e8.10b7b","x":120,"y":120,"wires":[["b9f086a2.b184c8"]]},{"id":"7bc21a06.68a864","type":"mqtt in","z":"d2e7b5cb.f69ed8","name":"","topic":"aquarium/1/sensors/light","qos":"2","broker":"4f45f82.3e08908","x":130,"y":200,"wires":[["59be4f35.c032e"]]},{"id":"c15f77f8.6e9018","type":"mqtt in","z":"d2e7b5cb.f69ed8","name":"","topic":"aquarium/1/sensors/temperature","qos":"2","broker":"c99a12e8.10b7b","x":150,"y":340,"wires":[["7b0d86c8.c43d08"]]},{"id":"b4dbbcd1.dd929","type":"mqtt in","z":"d2e7b5cb.f69ed8","name":"","topic":"aquarium/1/sensors/turbidite","qos":"2","broker":"c99a12e8.10b7b","x":140,"y":460,"wires":[["7964781d.7b8b98"]]},{"id":"227cc48f.85c41c","type":"mqtt in","z":"fde533e9.f9824","name":"","topic":"aquarium/1/sensors/ph","qos":"2","broker":"4f45f82.3e08908","x":240,"y":800,"wires":[["864cf735.73ef48"]]},{"id":"43093b39.de3df4","type":"mqtt in","z":"fde533e9.f9824","name":"","topic":"aquarium/1/sensors/light","qos":"2","broker":"4f45f82.3e08908","x":250,"y":880,"wires":[["9214a78e.cc3558"]]},{"id":"1d24ecf9.8522d3","type":"mqtt in","z":"fde533e9.f9824","name":"","topic":"aquarium/1/sensors/temperature","qos":"2","broker":"4f45f82.3e08908","x":270,"y":960,"wires":[["4b6188c.a6cae78"]]},{"id":"c0e7513d.d46c8","type":"mqtt in","z":"fde533e9.f9824","name":"","topic":"aquarium/1/sensors/turbidite","qos":"2","broker":"4f45f82.3e08908","x":260,"y":1020,"wires":[["411787b0.29d068"]]},{"id":"864cf735.73ef48","type":"debug","z":"fde533e9.f9824","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":800,"wires":[]},{"id":"d3775f14.06ef3","type":"debug","z":"fde533e9.f9824","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":524,"y":882,"wires":[]},{"id":"9214a78e.cc3558","type":"debug","z":"fde533e9.f9824","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":524,"y":882,"wires":[]},{"id":"4b6188c.a6cae78","type":"debug","z":"fde533e9.f9824","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":960,"wires":[]},{"id":"411787b0.29d068","type":"debug","z":"fde533e9.f9824","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":1040,"wires":[]},{"id":"f98d61fe.69cbd","type":"mqtt in","z":"d2e7b5cb.f69ed8","name":"","topic":"aquarium/1/actionneur/pompe","qos":"2","broker":"4f45f82.3e08908","x":500,"y":2000,"wires":[["11eb66da.4f9429"]]},{"id":"3730f67b.47a8fa","type":"mqtt in","z":"d2e7b5cb.f69ed8","name":"","topic":"aquarium/1/actionneur/lampe","qos":"2","broker":"4f45f82.3e08908","x":500,"y":2080,"wires":[["13fe56c0.2e8b99"]]},{"id":"46e53cbb.cc2df4","type":"mqtt in","z":"d2e7b5cb.f69ed8","name":"","topic":"aquarium/1/actionneur/heating","qos":"2","broker":"4f45f82.3e08908","x":500,"y":2160,"wires":[["3abb4523.0d254a"]]},{"id":"11eb66da.4f9429","type":"mqtt out","z":"d2e7b5cb.f69ed8","name":"","topic":"aquarium/1/actionneur/pompe","qos":"","retain":"","broker":"c99a12e8.10b7b","x":950,"y":2000,"wires":[]},{"id":"13fe56c0.2e8b99","type":"mqtt out","z":"d2e7b5cb.f69ed8","name":"","topic":"aquarium/1/actionneur/lampe","qos":"","retain":"","broker":"c99a12e8.10b7b","x":920,"y":2080,"wires":[]},{"id":"3abb4523.0d254a","type":"mqtt out","z":"d2e7b5cb.f69ed8","name":"","topic":"aquarium/1/actionneur/heating","qos":"","retain":"","broker":"c99a12e8.10b7b","x":910,"y":2160,"wires":[]},{"id":"fd54ad38.64434","type":"mqtt in","z":"d2e7b5cb.f69ed8","name":"","topic":"aquarium/1/settings/temperature","qos":"2","broker":"4f45f82.3e08908","x":190,"y":2280,"wires":[["44737d60.d532c4"]]},{"id":"5557988b.4f30a8","type":"mqtt in","z":"d2e7b5cb.f69ed8","name":"","topic":"aquarium/1/settings/lamp","qos":"2","broker":"4f45f82.3e08908","x":512.857177734375,"y":2346,"wires":[["f073ccef.e5643"]]},{"id":"9271260b.394a08","type":"mqtt in","z":"d2e7b5cb.f69ed8","name":"","topic":"aquarium/1/settings/feeding/tour","qos":"2","broker":"4f45f82.3e08908","x":490,"y":2480,"wires":[["f79d24f0.c06998"]]},{"id":"117f2dad.a26202","type":"mqtt in","z":"d2e7b5cb.f69ed8","name":"","topic":"aquarium/1/settings/pH","qos":"2","broker":"4f45f82.3e08908","x":500,"y":2420,"wires":[["7fb2ac83.6e8a14"]]},{"id":"ac9d58b0.a56ed8","type":"mqtt in","z":"d2e7b5cb.f69ed8","name":"","topic":"aquarium/1/settings/feeding/frequence","qos":"2","broker":"4f45f82.3e08908","x":510,"y":2540,"wires":[["63eb23d8.25f3ec"]]},{"id":"44737d60.d532c4","type":"mqtt out","z":"d2e7b5cb.f69ed8","name":"","topic":"aquarium/1/settings/temperature","qos":"0","retain":"","broker":"c99a12e8.10b7b","x":830,"y":2280,"wires":[]},{"id":"f073ccef.e5643","type":"mqtt out","z":"d2e7b5cb.f69ed8","name":"","topic":"aquarium/1/settings/lamp","qos":"","retain":"","broker":"c99a12e8.10b7b","x":930,"y":2360,"wires":[]},{"id":"7fb2ac83.6e8a14","type":"mqtt out","z":"d2e7b5cb.f69ed8","name":"","topic":"aquarium/1/settings/pH","qos":"","retain":"","broker":"c99a12e8.10b7b","x":910,"y":2420,"wires":[]},{"id":"f79d24f0.c06998","type":"mqtt out","z":"d2e7b5cb.f69ed8","name":"","topic":"aquarium/1/settings/feeding/tour","qos":"","retain":"","broker":"c99a12e8.10b7b","x":950,"y":2480,"wires":[]},{"id":"63eb23d8.25f3ec","type":"mqtt out","z":"d2e7b5cb.f69ed8","name":"","topic":"aquarium/1/settings/feeding/frequence","qos":"","retain":"","broker":"c99a12e8.10b7b","x":970,"y":2540,"wires":[]},{"id":"4f2392b8.fcbf0c","type":"mqtt in","z":"d2e7b5cb.f69ed8","name":"","topic":"aquarium/1/sensors/water","qos":"2","broker":"c99a12e8.10b7b","x":130,"y":620,"wires":[["264d7b03.2360b4"]]},{"id":"c3be059d.0e8a38","type":"mqtt in","z":"fde533e9.f9824","name":"","topic":"aquarium/1/sensors/water","qos":"2","broker":"4f45f82.3e08908","x":270,"y":1120,"wires":[["858368d6.1713a8"]]},{"id":"858368d6.1713a8","type":"debug","z":"fde533e9.f9824","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":1140,"wires":[]},{"id":"a29be208.1ee1a","type":"google calendar out","z":"d2e7b5cb.f69ed8","google":"da929653.2f78e8","name":"","calendar":"","x":790,"y":620,"wires":[]},{"id":"264d7b03.2360b4","type":"function","z":"d2e7b5cb.f69ed8","name":"start","func":"var addEvent = flow.get(\"waterLevelAlert\") || 0;\n\nvar d = new Date();\n\nvar year = d.getFullYear();\nvar month = d.getMonth()+1;\nvar day = d.getDate();\nvar hour = d.getHours();\nvar min = d.getMinutes();\nvar sec = d.getSeconds();\n\nvar debut = year.toString()+\"-\"+month.toString()+\"-\"+day.toString()+\"T\"+hour.toString()+\":\"+min.toString()+\":\"+sec.toString()+\"-03:00\";\nhour = hour+1;\nvar fin = year.toString()+\"-\"+month.toString()+\"-\"+day.toString()+\"T\"+hour.toString()+\":\"+min.toString()+\":\"+sec.toString()+\"-03:00\";\n\n\n\nm= msg.payload;\nmsg.payload = null;\nif (m>160)\n{\n    if(!addEvent){\n        var date = new Date();\n        \n        msg.payload= {\n            summary : \"Aquarium\",\n            description: \"Niveau d'eau est bas\",\n            start: {dateTime: debut},\n            end: {dateTime: fin},\n        };\n        flow.set(\"waterLevelAlert\",1);\n    }\n} else {\n    flow.set(\"waterLevelAlert\",0);\n    \n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":620,"wires":[["ae39e78b.ad6278"]]},{"id":"ae39e78b.ad6278","type":"switch","z":"d2e7b5cb.f69ed8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":620,"wires":[["a29be208.1ee1a","ef121f06.2e2d2"]]},{"id":"b7f77470.6d9998","type":"google calendar out","z":"d2e7b5cb.f69ed8","google":"da929653.2f78e8","name":"","calendar":"","x":750,"y":2860,"wires":[]},{"id":"fb5189d5.99e518","type":"function","z":"d2e7b5cb.f69ed8","name":"start","func":"m= msg.payload;\n\nvar d = new Date();\n\nvar year = d.getFullYear();\nvar month = d.getMonth()+1;\nvar day = d.getDate();\nvar hour = d.getHours();\nvar min = d.getMinutes();\nvar sec = d.getSeconds();\n\nvar debut = year.toString()+\"-\"+month.toString()+\"-\"+day.toString()+\"T\"+hour.toString()+\":\"+min.toString()+\":\"+sec.toString()+\"-03:00\";\nhour = hour+1;\nvar fin = year.toString()+\"-\"+month.toString()+\"-\"+day.toString()+\"T\"+hour.toString()+\":\"+min.toString()+\":\"+sec.toString()+\"-03:00\";\n\nif (m)\n{\nmsg.payload= {\nsummary : \"m.summary\",\ndescription: \"m.description\",\nstart: {dateTime: debut},\nend: {dateTime: fin},\n};\n} \n\nreturn msg;\n","outputs":1,"noerr":0,"x":450,"y":2880,"wires":[["b7f77470.6d9998","bacbc7e0.dfee18"]]},{"id":"9490cf6a.4faa5","type":"inject","z":"d2e7b5cb.f69ed8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":2840,"wires":[["fb5189d5.99e518"]]},{"id":"4ed064ed.85ba1c","type":"http response","z":"fde533e9.f9824","name":"","statusCode":"","headers":{},"x":630,"y":1500,"wires":[]},{"id":"561fc51f.18ed1c","type":"http request","z":"fde533e9.f9824","name":"","method":"POST","ret":"txt","url":"192.168.1.108:5000/chart/phChart","tls":"","x":410,"y":1480,"wires":[["4ed064ed.85ba1c","2da2401.47de6c"]]},{"id":"ac5afa09.c7ff88","type":"inject","z":"fde533e9.f9824","name":"","topic":"","payload":"{\"x\":\"Mon, 04 Feb 2019 21:41:49 GMT\",\"y\":12}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":1480,"wires":[["561fc51f.18ed1c"]]},{"id":"2da2401.47de6c","type":"debug","z":"fde533e9.f9824","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":1380,"wires":[]},{"id":"5d32fb80.b7d1c4","type":"inject","z":"d2e7b5cb.f69ed8","name":"","topic":"","payload":"{\"max\":30,\"min\":21}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":2220,"wires":[["44737d60.d532c4"]]},{"id":"b7d6a1eb.35f1d","type":"http response","z":"d2e7b5cb.f69ed8","name":"","statusCode":"","headers":{},"x":770,"y":200,"wires":[]},{"id":"ea8ecbca.dad678","type":"http request","z":"d2e7b5cb.f69ed8","name":"","method":"POST","ret":"txt","url":"192.168.1.108:5000/chart/lightChart","tls":"","x":570,"y":200,"wires":[["b7d6a1eb.35f1d"]]},{"id":"2302a6fd.92c1ea","type":"debug","z":"d2e7b5cb.f69ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":260,"wires":[]},{"id":"59be4f35.c032e","type":"function","z":"d2e7b5cb.f69ed8","name":"","func":"var temp = new Date();\nvar m = msg.payload;\n\nmsg.payload={\n    \"x\": temp,\n    \"y\":m\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["2302a6fd.92c1ea","ea8ecbca.dad678"]]},{"id":"f610bc.9cef5f48","type":"http response","z":"d2e7b5cb.f69ed8","name":"","statusCode":"","headers":{},"x":770,"y":120,"wires":[]},{"id":"cf9809b0.99c628","type":"http request","z":"d2e7b5cb.f69ed8","name":"","method":"POST","ret":"txt","url":"192.168.1.108:5000/chart/phChart","tls":"","x":570,"y":120,"wires":[["f610bc.9cef5f48"]]},{"id":"b9f086a2.b184c8","type":"function","z":"d2e7b5cb.f69ed8","name":"","func":"var temp = new Date();\nvar m = msg.payload;\n\nmsg.payload={\n    \"x\": temp,\n    \"y\":m\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":120,"wires":[["cf9809b0.99c628"]]},{"id":"f1f32f9a.c3915","type":"http response","z":"d2e7b5cb.f69ed8","name":"","statusCode":"","headers":{},"x":830,"y":340,"wires":[]},{"id":"81740bf3.a080e8","type":"http request","z":"d2e7b5cb.f69ed8","name":"","method":"POST","ret":"txt","url":"192.168.1.108:5000/chart/lightChart","tls":"","x":630,"y":340,"wires":[["f1f32f9a.c3915"]]},{"id":"9e6627de.241178","type":"debug","z":"d2e7b5cb.f69ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":400,"wires":[]},{"id":"7b0d86c8.c43d08","type":"function","z":"d2e7b5cb.f69ed8","name":"","func":"var temp = new Date();\nvar m = msg.payload;\n\nmsg.payload={\n    \"x\": temp,\n    \"y\":m\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":340,"wires":[["9e6627de.241178","81740bf3.a080e8"]]},{"id":"715bb994.290718","type":"http response","z":"d2e7b5cb.f69ed8","name":"","statusCode":"","headers":{},"x":830,"y":460,"wires":[]},{"id":"7b309d94.652dc4","type":"http request","z":"d2e7b5cb.f69ed8","name":"","method":"POST","ret":"txt","url":"192.168.1.108:5000/chart/turbiditeChart","tls":"","x":630,"y":460,"wires":[["715bb994.290718"]]},{"id":"c2ea60d.7edf9a","type":"debug","z":"d2e7b5cb.f69ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":520,"wires":[]},{"id":"7964781d.7b8b98","type":"function","z":"d2e7b5cb.f69ed8","name":"","func":"var temp = new Date();\nvar m = msg.payload;\n\nmsg.payload={\n    \"x\": temp,\n    \"y\":m\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":460,"wires":[["c2ea60d.7edf9a","7b309d94.652dc4"]]},{"id":"a68c16bb.923348","type":"http response","z":"d2e7b5cb.f69ed8","name":"","statusCode":"","headers":{},"x":850,"y":1340,"wires":[]},{"id":"23bf148.b9b67ec","type":"http request","z":"d2e7b5cb.f69ed8","name":"","method":"POST","ret":"txt","url":"192.168.1.108:5000/chart/waterChart","tls":"","x":650,"y":1340,"wires":[["a68c16bb.923348"]]},{"id":"ddf504f2.a76d98","type":"debug","z":"d2e7b5cb.f69ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":1400,"wires":[]},{"id":"37e36bd1.23fff4","type":"function","z":"d2e7b5cb.f69ed8","name":"","func":"var temp = new Date();\nvar m = msg.payload;\n\nmsg.payload={\n    \"x\": temp,\n    \"y\":m\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1340,"wires":[["ddf504f2.a76d98","23bf148.b9b67ec"]]},{"id":"80689472.d2efb8","type":"debug","z":"d2e7b5cb.f69ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":970,"y":300,"wires":[]},{"id":"69a99e13.49d6a","type":"function","z":"d2e7b5cb.f69ed8","name":"","func":"msg.payload=msg;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":260,"wires":[["80689472.d2efb8"]]},{"id":"815a2f74.dfe4b","type":"mqtt in","z":"d2e7b5cb.f69ed8","name":"","topic":"aquarium/1/status/light","qos":"2","broker":"c99a12e8.10b7b","x":120,"y":760,"wires":[["4d56389b.2e7b08","dfd84866.ea1a78"]]},{"id":"9bb3572a.4a5578","type":"http response","z":"d2e7b5cb.f69ed8","name":"","statusCode":"","headers":{},"x":770,"y":760,"wires":[]},{"id":"9bd88702.c80b88","type":"http request","z":"d2e7b5cb.f69ed8","name":"","method":"POST","ret":"txt","url":"192.168.1.108:5000/chart/phChart","tls":"","x":570,"y":760,"wires":[["9bb3572a.4a5578"]]},{"id":"4d56389b.2e7b08","type":"function","z":"d2e7b5cb.f69ed8","name":"","func":"var etat = false;\nvar m = msg.payload;\n\nif (m === 1)\n{\n    etat = ture ;\n}\n\nmsg.payload={\n    \"y\":etat\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":760,"wires":[["8e4d233.d6321e"]]},{"id":"3cdf46bf.7fb9fa","type":"mqtt in","z":"d2e7b5cb.f69ed8","name":"","topic":"aquarium/1/status/lightForced","qos":"2","broker":"c99a12e8.10b7b","x":140,"y":840,"wires":[["dbb38429.5c0578"]]},{"id":"5149cf91.74007","type":"http response","z":"d2e7b5cb.f69ed8","name":"","statusCode":"","headers":{},"x":770,"y":840,"wires":[]},{"id":"4671698f.0dee58","type":"http request","z":"d2e7b5cb.f69ed8","name":"","method":"POST","ret":"txt","url":"192.168.1.108:5000/chart/phChart","tls":"","x":570,"y":840,"wires":[["5149cf91.74007"]]},{"id":"4ccdaeb8.9d389","type":"function","z":"d2e7b5cb.f69ed8","name":"","func":"var etat = false;\nvar m = msg.payload;\n\nif (m === 1)\n{\n    etat = ture ;\n}\n\nmsg.payload={\n    \"y\":etat\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":840,"wires":[["4671698f.0dee58"]]},{"id":"dbb38429.5c0578","type":"debug","z":"d2e7b5cb.f69ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":370,"y":880,"wires":[]},{"id":"8e4d233.d6321e","type":"debug","z":"d2e7b5cb.f69ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":510,"y":700,"wires":[]},{"id":"fd082bc.189c4d8","type":"mqtt in","z":"d2e7b5cb.f69ed8","name":"","topic":"aquarium/1/status/","qos":"2","broker":"c99a12e8.10b7b","x":170,"y":1480,"wires":[["198f8908.b8ca57","61a39aef.5bc3b4"]]},{"id":"ed385032.ba002","type":"http response","z":"d2e7b5cb.f69ed8","name":"","statusCode":"","headers":{},"x":810,"y":1480,"wires":[]},{"id":"fbc57232.5fde7","type":"http request","z":"d2e7b5cb.f69ed8","name":"","method":"POST","ret":"txt","url":"192.168.1.108:5000/chart/phChart","tls":"","x":610,"y":1480,"wires":[["ed385032.ba002"]]},{"id":"61a39aef.5bc3b4","type":"function","z":"d2e7b5cb.f69ed8","name":"","func":"var temp = new Date();\nvar m = msg.payload;\n\nmsg.payload={\n    \"x\": temp,\n    \"y\":m\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1480,"wires":[["fbc57232.5fde7"]]},{"id":"198f8908.b8ca57","type":"debug","z":"d2e7b5cb.f69ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":1520,"wires":[]},{"id":"98adffc1.6af27","type":"mqtt in","z":"d2e7b5cb.f69ed8","name":"","topic":"aquarium/1/status/lightForced","qos":"2","broker":"c99a12e8.10b7b","x":140,"y":1200,"wires":[["a34e17f5.8d6548"]]},{"id":"1dfe293a.9a4067","type":"http response","z":"d2e7b5cb.f69ed8","name":"","statusCode":"","headers":{},"x":770,"y":1200,"wires":[]},{"id":"44284b83.b39754","type":"http request","z":"d2e7b5cb.f69ed8","name":"","method":"POST","ret":"txt","url":"192.168.1.108:5000/chart/phChart","tls":"","x":570,"y":1200,"wires":[["1dfe293a.9a4067"]]},{"id":"a34e17f5.8d6548","type":"function","z":"d2e7b5cb.f69ed8","name":"","func":"var temp = new Date();\nvar m = msg.payload;\n\nmsg.payload={\n    \"x\": temp,\n    \"y\":m\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1200,"wires":[["44284b83.b39754"]]},{"id":"de0e9072.f370a","type":"debug","z":"d2e7b5cb.f69ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":1240,"wires":[]},{"id":"2017d50f.b71a0a","type":"mqtt in","z":"d2e7b5cb.f69ed8","name":"","topic":"aquarium/1/status/heater","qos":"2","broker":"c99a12e8.10b7b","x":970,"y":760,"wires":[["3a42315f.5104ee","203d9284.d44fde"]]},{"id":"deca244.d2223d8","type":"http response","z":"d2e7b5cb.f69ed8","name":"","statusCode":"","headers":{},"x":1610,"y":760,"wires":[]},{"id":"6c2b4684.342318","type":"http request","z":"d2e7b5cb.f69ed8","name":"","method":"POST","ret":"txt","url":"192.168.1.108:5000/chart/phChart","tls":"","x":1410,"y":760,"wires":[["deca244.d2223d8"]]},{"id":"203d9284.d44fde","type":"function","z":"d2e7b5cb.f69ed8","name":"","func":"var etat = false;\nvar m = msg.payload;\n\nif (m === 1)\n{\n    etat = ture ;\n}\n\nmsg.payload={\n    \"y\":etat\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":760,"wires":[["6c2b4684.342318"]]},{"id":"3a42315f.5104ee","type":"debug","z":"d2e7b5cb.f69ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":720,"wires":[]},{"id":"394a603b.a4d6e","type":"mqtt in","z":"d2e7b5cb.f69ed8","name":"","topic":"aquarium/1/status/heaterForced","qos":"2","broker":"c99a12e8.10b7b","x":990,"y":840,"wires":[["8c160fcd.912e4","6048b4d5.8b69ec"]]},{"id":"ed4500.2de66b","type":"http response","z":"d2e7b5cb.f69ed8","name":"","statusCode":"","headers":{},"x":1650,"y":840,"wires":[]},{"id":"ad02c67.e358b38","type":"http request","z":"d2e7b5cb.f69ed8","name":"","method":"POST","ret":"txt","url":"192.168.1.108:5000/chart/phChart","tls":"","x":1450,"y":840,"wires":[["ed4500.2de66b"]]},{"id":"6048b4d5.8b69ec","type":"function","z":"d2e7b5cb.f69ed8","name":"","func":"var etat = false;\nvar m = msg.payload;\n\nif (m === 1)\n{\n    etat = ture ;\n}\n\nmsg.payload={\n    \"y\":etat\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":840,"wires":[["ad02c67.e358b38"]]},{"id":"8c160fcd.912e4","type":"debug","z":"d2e7b5cb.f69ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":880,"wires":[]},{"id":"5f9c015e.325cf","type":"mqtt in","z":"d2e7b5cb.f69ed8","name":"","topic":"aquarium/1/status/heaterThreshold","qos":"2","broker":"c99a12e8.10b7b","x":160,"y":1020,"wires":[["12bbb615.07284a"]]},{"id":"99bb6ae6.9675f8","type":"http response","z":"d2e7b5cb.f69ed8","name":"","statusCode":"","headers":{},"x":810,"y":1020,"wires":[]},{"id":"810c228e.d547e","type":"http request","z":"d2e7b5cb.f69ed8","name":"","method":"POST","ret":"txt","url":"192.168.1.108:5000/chart/phChart","tls":"","x":610,"y":1020,"wires":[["99bb6ae6.9675f8"]]},{"id":"12bbb615.07284a","type":"function","z":"d2e7b5cb.f69ed8","name":"","func":"var temp = new Date();\nvar m = msg.payload;\n\nmsg.payload={\n    \"x\": temp,\n    \"y\":m\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1020,"wires":[["810c228e.d547e"]]},{"id":"f24fa2c3.feaf6","type":"debug","z":"d2e7b5cb.f69ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":1060,"wires":[]},{"id":"dfd84866.ea1a78","type":"debug","z":"d2e7b5cb.f69ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":310,"y":700,"wires":[]},{"id":"bacbc7e0.dfee18","type":"debug","z":"d2e7b5cb.f69ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":3020,"wires":[]},{"id":"3ad7d32e.ec4bec","type":"twilio out","z":"fde533e9.f9824","twilio":"ebf889d0.5ad188","twilioType":"sms","url":"","number":"","name":"","x":770,"y":260,"wires":[]},{"id":"5a7d423a.fac32c","type":"function","z":"fde533e9.f9824","name":"","func":"//var numStr = JSON.parse(msg.payload);\nvar num = parseInt(msg.payload.numberPhone);\nmsg.topic=num;\nmsg.payload = \"numéro valider\";\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":180,"wires":[["3ad7d32e.ec4bec","3e496fff.8dfbb"]]},{"id":"4a75db6e.8dc534","type":"debug","z":"fde533e9.f9824","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":440,"wires":[]},{"id":"3fb09087.fe25","type":"http in","z":"fde533e9.f9824","name":"","url":"/numberPhone","method":"post","upload":false,"swaggerDoc":"","x":210,"y":100,"wires":[["e4a3affb.b417","4a75db6e.8dc534","5a7d423a.fac32c"]]},{"id":"e4a3affb.b417","type":"http response","z":"fde533e9.f9824","name":"","statusCode":"","headers":{},"x":490,"y":80,"wires":[]},{"id":"3e496fff.8dfbb","type":"debug","z":"fde533e9.f9824","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":400,"y":400,"wires":[]},{"id":"ce5a2d49.805be","type":"inject","z":"fde533e9.f9824","name":"","topic":"","payload":"{\"numberPhone\":\"0619639368\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":180,"wires":[["5a7d423a.fac32c"]]},{"id":"5fceeaf6.702994","type":"twilio out","z":"d2e7b5cb.f69ed8","twilio":"ebf889d0.5ad188","twilioType":"sms","url":"","number":"","name":"","x":1130,"y":600,"wires":[]},{"id":"ef121f06.2e2d2","type":"function","z":"d2e7b5cb.f69ed8","name":"","func":"//var numStr = JSON.parse(msg.payload);\n//var num = parseInt(msg.payload.numberPhone);\nmsg.topic=0619639368;\nmsg.payload = \"low water level\";\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":560,"wires":[["5fceeaf6.702994"]]},{"id":"9d886f5e.2fbc5","type":"inject","z":"d2e7b5cb.f69ed8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":560,"wires":[["ae39e78b.ad6278"]]}]