NR_raspberry/flow.json
[{"id":"dbbb2296.01769","type":"tab","label":"Temperature Sensor","disabled":false,"info":""},{"id":"df835d88.f5fac","type":"tab","label":"Feed fish","disabled":false,"info":""},{"id":"10f67e.0c401983","type":"tab","label":"pH Sensor","disabled":false,"info":""},{"id":"8c5b2e04.f825c","type":"tab","label":"Light","disabled":false,"info":""},{"id":"70a2ddcb.991544","type":"tab","label":"Water sensor","disabled":false,"info":""},{"id":"537f5cfa.4007c4","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"eeb2ec98.c2249","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"f02cf1dd.4411e","type":"twitter-credentials","z":"","screen_name":""},{"id":"b2a9d0e6.30f0a","type":"inject","z":"dbbb2296.01769","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0","x":150,"y":80,"wires":[["1d10d70e.b0e1c9"]]},{"id":"1d10d70e.b0e1c9","type":"function","z":"dbbb2296.01769","name":"Initialize server ip","func":"flow.set('SERVER_IP', 'localhost:2000');\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":80,"wires":[[]]},{"id":"90734d3c.2506e","type":"http response","z":"dbbb2296.01769","name":"Send temperature to server","statusCode":"","headers":{},"x":600,"y":260,"wires":[]},{"id":"a795e430.3a1fc8","type":"switch","z":"dbbb2296.01769","name":"Activate/Desactivate heating","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"flow.get(\"TEMP_MAX\")","vt":"str"},{"t":"lt","v":"flow.get(\"TEMP_MAX\")","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":440,"wires":[["fed1532c.31bbc"],["ec391cc4.6ee06"]],"outputLabels":["Activate",""]},{"id":"a6557e8e.885c3","type":"http in","z":"dbbb2296.01769","name":"Handle heating request","url":"","method":"get","upload":false,"swaggerDoc":"","x":180,"y":800,"wires":[["a78f2090.ae2b"]]},{"id":"adbbd179.1a40f","type":"comment","z":"dbbb2296.01769","name":"Automatic heating system","info":"","x":270,"y":220,"wires":[]},{"id":"bc8080d1.d0567","type":"function","z":"dbbb2296.01769","name":"Initialize temperature variables","func":"flow.set('TEMP_MAX', 25);\nflow.set('TEMP_MIN', 15);\nflow.set('TEMP_ACTIVATE', false);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":80,"wires":[[]]},{"id":"ad033ecb.2315a","type":"inject","z":"dbbb2296.01769","name":"At start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0","x":710,"y":80,"wires":[["bc8080d1.d0567"]]},{"id":"fed1532c.31bbc","type":"function","z":"dbbb2296.01769","name":"send true","func":"msg.payload = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":360,"wires":[["559a447e.4d2dcc","cbd7920b.32268"]]},{"id":"ec391cc4.6ee06","type":"function","z":"dbbb2296.01769","name":"send false","func":"msg.payload = false;\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":480,"wires":[["35a13d0b.a4e0d2","cbd7920b.32268"]]},{"id":"a78f2090.ae2b","type":"switch","z":"dbbb2296.01769","name":"check temperature's state","property":"TEMP_ACTIVATE","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":460,"y":800,"wires":[["817269cf.fb3c48"],["313031d1.b5aa0e"]]},{"id":"817269cf.fb3c48","type":"function","z":"dbbb2296.01769","name":"send true","func":"msg.payload = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":742,"wires":[["b0e465ec.9daed8","2640e0b3.6dbfa"]]},{"id":"313031d1.b5aa0e","type":"function","z":"dbbb2296.01769","name":"send false","func":"msg.payload = false;\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":862,"wires":[["68311e34.a67ea","2640e0b3.6dbfa"]]},{"id":"1a27cc32.9e7e34","type":"http request","z":"dbbb2296.01769","name":"Notify user that there's no heating","method":"POST","ret":"txt","url":"","tls":"","x":960,"y":560,"wires":[[]]},{"id":"fbb1372c.acb048","type":"switch","z":"dbbb2296.01769","name":"if no temperature data","property":"payload","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":560,"wires":[["1a27cc32.9e7e34"]]},{"id":"c2c9844c.219418","type":"comment","z":"dbbb2296.01769","name":"When user want to control heating","info":"","x":340,"y":680,"wires":[]},{"id":"cbd7920b.32268","type":"debug","z":"dbbb2296.01769","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1080,"y":420,"wires":[]},{"id":"2640e0b3.6dbfa","type":"debug","z":"dbbb2296.01769","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":800,"wires":[]},{"id":"9d613e76.975a8","type":"inject","z":"10f67e.0c401983","name":"At start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0","x":160,"y":80,"wires":[["7398b6e2.b230b8"]]},{"id":"7398b6e2.b230b8","type":"function","z":"10f67e.0c401983","name":"Initialize ph variables","func":"flow.set(\"MAX_PH\", 8);\nflow.set(\"MIN_PH\", 4);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":80,"wires":[[]]},{"id":"f3b6481c.130258","type":"http request","z":"10f67e.0c401983","name":"Send pH to servor","method":"GET","ret":"txt","url":"","tls":"","x":450,"y":220,"wires":[[]]},{"id":"37a80284.b78e2e","type":"switch","z":"10f67e.0c401983","name":"If pH is outer off bound","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"flow.get(\"MAX_PH\")","vt":"num"},{"t":"lte","v":"flow.ger(\"MIN_PH\")","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":380,"wires":[["f0cd1b5a.8c2418"],["a887a1e9.fdbf5"]]},{"id":"f0cd1b5a.8c2418","type":"template","z":"10f67e.0c401983","name":"Message for too high pH","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Your pH is too high : {{payload}} instead of {{flow.get(\"MAX_PH\")}}!","output":"str","x":770,"y":340,"wires":[["d16ab5b1.9d0c78"]]},{"id":"a887a1e9.fdbf5","type":"template","z":"10f67e.0c401983","name":"Message for too low pH","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Your pH is too high : {{payload}} instead of {{flow.get(\"MAX_PH\")}}!","output":"str","x":770,"y":420,"wires":[["d16ab5b1.9d0c78"]]},{"id":"d16ab5b1.9d0c78","type":"http request","z":"10f67e.0c401983","name":"Notify user","method":"GET","ret":"txt","url":"","tls":"","x":1030,"y":380,"wires":[[]]},{"id":"d6d4ef70.30de6","type":"inject","z":"8c5b2e04.f825c","name":"At start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0","x":180,"y":100,"wires":[["2b7be47a.f4bd8c"]]},{"id":"2b7be47a.f4bd8c","type":"function","z":"8c5b2e04.f825c","name":"Initialize light variable","func":"flow.set(\"LIGHT_STATE\", false);\nflow.set(\"LIGHT_COLOR\", \"#000000\");\nflow.set(\"LIGHT_MIN\", 300);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":100,"wires":[[]]},{"id":"8ee52182.043fe","type":"switch","z":"8c5b2e04.f825c","name":"If is dark enough","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"LIGHT_MIN","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":340,"wires":[["8f631be1.9dc6d8"],["a01fb7d8.7fd8d8"]]},{"id":"8f631be1.9dc6d8","type":"function","z":"8c5b2e04.f825c","name":"send true","func":"if(flow.get(\"LIGHT_STATE\") == false) {\n    msg.payload = false;\n} else {\n    msg.payload = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":280,"wires":[["5ef5432f.88978c"]]},{"id":"a01fb7d8.7fd8d8","type":"function","z":"8c5b2e04.f825c","name":"send false","func":"if(flow.get(\"LIGHT_STATE\") == true) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":400,"wires":[["df6d67eb.7c35e8"]]},{"id":"45867d0f.5e57c4","type":"http in","z":"8c5b2e04.f825c","name":"Light request","url":"","method":"get","upload":false,"swaggerDoc":"","x":140,"y":620,"wires":[["6b909350.2bb9dc"]]},{"id":"6b909350.2bb9dc","type":"switch","z":"8c5b2e04.f825c","name":"check temperature's state","property":"TEMP_ACTIVATE","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":620,"wires":[["5ab2ad47.f89884"],["e685a390.8d3d5"]]},{"id":"5ab2ad47.f89884","type":"function","z":"8c5b2e04.f825c","name":"send true","func":"msg.payload = true;\nflow.set(\"LIGHT_STATE\", true);\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":560,"wires":[["9f8cc331.83878"]]},{"id":"e685a390.8d3d5","type":"function","z":"8c5b2e04.f825c","name":"send false","func":"msg.payload = false;\nflow.set(\"LIGHT_STATE\", false);\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":682,"wires":[["af53180c.bdb128"]]},{"id":"c444051.74239f8","type":"comment","z":"8c5b2e04.f825c","name":"Automatic light","info":"","x":220,"y":220,"wires":[]},{"id":"f3d0faaf.889948","type":"comment","z":"8c5b2e04.f825c","name":"Manuel light","info":"","x":210,"y":520,"wires":[]},{"id":"2c4d1389.68b6fc","type":"inject","z":"dbbb2296.01769","name":"","topic":"","payload":"TEMP_MAX","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":960,"wires":[["888a7ca1.c2fab"]]},{"id":"888a7ca1.c2fab","type":"debug","z":"dbbb2296.01769","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":460,"y":960,"wires":[]},{"id":"4cceae60.42283","type":"inject","z":"70a2ddcb.991544","name":"At start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0","x":180,"y":60,"wires":[["e0aa72d8.9a41d"]]},{"id":"e0aa72d8.9a41d","type":"function","z":"70a2ddcb.991544","name":"Initialize water variable","func":"flow.set(\"MIN_LEVEL\", 500);\nflow.set(\"MAX_LEVEL\", 800);\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":60,"wires":[[]]},{"id":"630a2e7c.3aa84","type":"switch","z":"70a2ddcb.991544","name":"Check if water level is too low","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"MIN_LEVEL","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":320,"wires":[["8713e6de.5f69b8"]]},{"id":"56385d10.1ec664","type":"http request","z":"70a2ddcb.991544","name":"Notify user","method":"GET","ret":"txt","url":"","tls":"","x":990,"y":320,"wires":[[]]},{"id":"8713e6de.5f69b8","type":"template","z":"70a2ddcb.991544","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Your aquarium need to be filled!","output":"str","x":720,"y":320,"wires":[["56385d10.1ec664"]]},{"id":"91bce73a.bcd5f8","type":"http in","z":"537f5cfa.4007c4","name":"Notify a user with a message","url":"/notify","method":"post","upload":false,"swaggerDoc":"","x":240,"y":360,"wires":[["c27e8887.18b7d8"]]},{"id":"c27e8887.18b7d8","type":"switch","z":"537f5cfa.4007c4","name":"Choose notification system","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":360,"wires":[["7ac2086e.084ff8","c8c565e3.b000b8"]]},{"id":"7ac2086e.084ff8","type":"e-mail","z":"537f5cfa.4007c4","server":"smtp.gmail.com","port":"465","secure":true,"name":"clement.beal96@gmail.com","dname":"Send email","x":990,"y":260,"wires":[]},{"id":"c8c565e3.b000b8","type":"twitter out","z":"537f5cfa.4007c4","twitter":"f02cf1dd.4411e","name":"Send tweet message","x":1000,"y":340,"wires":[]},{"id":"7875bab3.e5cd84","type":"grove analog sensor","z":"10f67e.0c401983","name":"Read pH sensor","pin":"0","sensor":"sound","repeat":"1","board":"41536545.c4851c","x":170,"y":340,"wires":[["f3b6481c.130258","37a80284.b78e2e"]]},{"id":"782481d0.49b9a","type":"grove analog sensor","z":"8c5b2e04.f825c","name":"Read light sensor","pin":"0","sensor":"sound","repeat":"5","board":"41536545.c4851c","x":130,"y":340,"wires":[["8ee52182.043fe"]]},{"id":"83658a9e.adfc28","type":"grove analog sensor","z":"70a2ddcb.991544","name":"Read water sensor","pin":"0","sensor":"sound","repeat":"5","board":"41536545.c4851c","x":180,"y":320,"wires":[["630a2e7c.3aa84"]]},{"id":"129f33b6.670c3c","type":"grove digital sensor","z":"dbbb2296.01769","name":"Read temperature","board":"41536545.c4851c","sensor":"dht11","repeat":"5","pin":"2","x":170,"y":340,"wires":[["90734d3c.2506e","a795e430.3a1fc8","fbb1372c.acb048"]]},{"id":"559a447e.4d2dcc","type":"grove digital output","z":"dbbb2296.01769","name":"On heating","board":"41536545.c4851c","pin":"2","x":1030,"y":340,"wires":[]},{"id":"35a13d0b.a4e0d2","type":"grove digital output","z":"dbbb2296.01769","name":"Off heating","board":"41536545.c4851c","pin":"2","x":1010,"y":480,"wires":[]},{"id":"b0e465ec.9daed8","type":"grove digital output","z":"dbbb2296.01769","name":"On heating","board":"41536545.c4851c","pin":"2","x":970,"y":740,"wires":[]},{"id":"68311e34.a67ea","type":"grove digital output","z":"dbbb2296.01769","name":"Off heating","board":"41536545.c4851c","pin":"2","x":960,"y":862,"wires":[]},{"id":"5ef5432f.88978c","type":"grove digital output","z":"8c5b2e04.f825c","name":"Light on","board":"41536545.c4851c","pin":"2","x":860,"y":280,"wires":[]},{"id":"df6d67eb.7c35e8","type":"grove digital output","z":"8c5b2e04.f825c","name":"Light on","board":"41536545.c4851c","pin":"2","x":860,"y":400,"wires":[]},{"id":"9f8cc331.83878","type":"grove digital output","z":"8c5b2e04.f825c","name":"Light on","board":"41536545.c4851c","pin":"2","x":1000,"y":560,"wires":[]},{"id":"af53180c.bdb128","type":"grove digital output","z":"8c5b2e04.f825c","name":"Light on","board":"41536545.c4851c","pin":"2","x":1000,"y":680,"wires":[]}]