NR_raspberry/flows_raspberrypi.json
[{"id":"415243b5.64614c","type":"tab","label":"broker","disabled":false,"info":""},{"id":"db8052cc.67392","type":"tab","label":"TempSensor","disabled":false,"info":""},{"id":"84e8c369.d80a8","type":"tab","label":"LightSensor","disabled":false,"info":""},{"id":"2472c904.e89266","type":"tab","label":"TurbiditySensor","disabled":false,"info":""},{"id":"d6bd6120.0069b","type":"tab","label":"WaterLevelSensor","disabled":false,"info":""},{"id":"1b64d624.3c22ea","type":"tab","label":"PhSensor","disabled":false,"info":""},{"id":"caba1c12.55acc","type":"tab","label":"feedFish","disabled":false,"info":""},{"id":"1b06d5e1.4f60fa","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"56aef3fa.a9533c","type":"subflow","name":"Subflow 1 (2)","info":"","in":[],"out":[]},{"id":"82cc1a7f.675598","type":"board-config","z":"","board":"GrovePi"},{"id":"1a75d074.80e25","type":"board-config","z":"","board":"GrovePi"},{"id":"25cac0d.1a2e14","type":"twitter-credentials","z":"","screen_name":""},{"id":"4fe101d9.6539c","type":"board-config","z":"","board":"GrovePi"},{"id":"5c1c3e40.42ff3","type":"twitter-credentials","z":"","screen_name":""},{"id":"64a87f05.7e7b8","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"88aebc42.a5546","type":"mqtt-broker","z":"","name":"","broker":"192.168.137.38","port":"11883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"36b3d7ce.dfaf08","type":"mqtt-broker","z":"","name":"","broker":"192.168.43.215","port":"11884","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1afe9d89.af7c42","type":"serial-port","z":"","serialport":"","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"220452cc.787b7e","type":"exec","z":"db8052cc.67392","command":"python /home/pi/aquaPlus/relaisHeaterOff.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Heater Off","x":691,"y":293.5,"wires":[[],[],[]]},{"id":"6d83b551.da75cc","type":"exec","z":"db8052cc.67392","command":"python /home/pi/aquaPlus/relaisHeaterOn.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Heater On","x":690,"y":234,"wires":[[],[],[]]},{"id":"48ab98ba.7ca118","type":"file in","z":"db8052cc.67392","name":"w1 file","filename":"/sys/bus/w1/devices/28-000005f1bd6d/w1_slave","format":"utf8","chunk":false,"sendError":false,"x":288,"y":296,"wires":[["68650cf9.1af074"]]},{"id":"68650cf9.1af074","type":"function","z":"db8052cc.67392","name":"","func":"var res = msg.payload.split(\"t=\");\nvar tempStr = res[1].substr(0,2);\nvar temp = parseInt(tempStr);\nmsg.payload = temp;\nflow.set(\"temp\", temp);\nif (flow.get(\"forced\")){\n    return [null, null, msg];\n}\nvar maxTemp = flow.get(\"thresholdMax\") || 25;\nvar minTemp = flow.get(\"thresholdMin\") || 25;\nmsg.temp = temp;\nif(temp>maxTemp && (flow.get(\"heater\")!==0)){\n    flow.set(\"heater\",0);\n    return [null, msg, msg];\n}else if (temp<=minTemp && (flow.get(\"heater\")!==1)){\n    flow.set(\"heater\",1);\n    return [msg, null, msg];\n}else{\n    return [null, null, msg];\n}","outputs":3,"noerr":0,"x":456,"y":296,"wires":[["6d83b551.da75cc"],["220452cc.787b7e"],["64a61cc2.eea8c4","99d2e003.307db"]]},{"id":"e3fbd112.4e831","type":"debug","z":"84e8c369.d80a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":297,"y":338,"wires":[]},{"id":"2315c94c.b6f216","type":"debug","z":"84e8c369.d80a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":472,"y":120,"wires":[]},{"id":"fed9621f.4b467","type":"mqtt out","z":"84e8c369.d80a8","name":"","topic":"aquarium/1/sensors/light","qos":"0","retain":"","broker":"64a87f05.7e7b8","x":613,"y":338,"wires":[]},{"id":"6ccde044.f0106","type":"debug","z":"84e8c369.d80a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":473,"y":468,"wires":[]},{"id":"c9bc5d2f.a80bd","type":"function","z":"84e8c369.d80a8","name":"","func":"var light = msg.payload;\nvar lightOn = flow.get(\"light\") || 0;\nvar forced = flow.get(\"forced\") || 0;\nif(forced){\n    return [null, null];\n}\nif(light>300 && (lightOn===1)){\n    flow.set(\"light\",0);\n    return [null, msg];\n}else if (light<=300 && (lightOn===0)){\n    flow.set(\"light\",1);\n    return [msg, null];\n}else{\n    return [null, null];\n}","outputs":2,"noerr":0,"x":424,"y":257,"wires":[["8a9c48ef.2487b8"],["492f89f2.f1aac8"]]},{"id":"bcb0c805.71a6e8","type":"inject","z":"84e8c369.d80a8","name":"Status","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":146,"y":484,"wires":[["a86018c0.0a3688","4669ffb9.a2a5b"]]},{"id":"4d38c076.4f0f3","type":"mosca in","z":"415243b5.64614c","mqtt_port":"1883","mqtt_ws_port":"8080","name":"","username":"","password":"","dburl":"","x":265,"y":110,"wires":[["2854d7d8.32bf28"]]},{"id":"2854d7d8.32bf28","type":"debug","z":"415243b5.64614c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":593,"y":85,"wires":[]},{"id":"26255a45.7dba96","type":"inject","z":"db8052cc.67392","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":112,"y":299,"wires":[["48ab98ba.7ca118"]]},{"id":"64a61cc2.eea8c4","type":"mqtt out","z":"db8052cc.67392","name":"","topic":"aquarium/1/sensors/temperature","qos":"0","retain":"","broker":"64a87f05.7e7b8","x":756,"y":358,"wires":[]},{"id":"22493d8f.faaf42","type":"grove analog sensor","z":"1b64d624.3c22ea","name":"PhSensor","pin":"1","sensor":"light","repeat":"1","board":"82cc1a7f.675598","x":74,"y":212,"wires":[["53a316c9.4078f8"]]},{"id":"8790481b.ff3d08","type":"debug","z":"1b64d624.3c22ea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":664,"y":281,"wires":[]},{"id":"c3cae2cc.63c04","type":"mqtt out","z":"1b64d624.3c22ea","name":"","topic":"aquarium/1/sensors/ph","qos":"0","retain":"","broker":"64a87f05.7e7b8","x":694,"y":212,"wires":[]},{"id":"53a316c9.4078f8","type":"function","z":"1b64d624.3c22ea","name":"","func":"//var ph;\nvar valuesArray = flow.get(\"vArray\") || [];\nvar count = flow.get(\"count\") || 0;\ncount ++;\nvar phMVolt = msg.payload * 5 / 1023 * 1000;\nvaluesArray.push(phMVolt);\nif (count == 10){\n    valuesArray.sort(function(a,b){\n        return a-b;\n    });\n    valuesArray.shift();\n    valuesArray.pop();\n    var valuesSum = 0;\n    valuesArray.forEach(function(item, index, array){\n        valuesSum += item;\n    });\n    var newPh = (valuesSum /8) - 2800;\n    newPh = 7 - (newPh / 57.14);\n    count = 0;\n    flow.set(\"vArray\",[]);\n    flow.set(\"ph\",newPh);\n    msg.payload = newPh;\n}else{\n    msg.payload = null;\n}\n\nflow.set(\"count\",count);\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":213,"wires":[["a4d81770.b6b268"]]},{"id":"a4d81770.b6b268","type":"switch","z":"1b64d624.3c22ea","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":388,"y":213,"wires":[["8790481b.ff3d08","c3cae2cc.63c04"]]},{"id":"34987682.e633da","type":"function","z":"2472c904.e89266","name":"","func":"var valuesArray = flow.get(\"vArray\") || [];\nvar count = flow.get(\"count\") || 0;\ncount ++;\nvar tMVolt = msg.payload * 5 / 1023 * 1000;\nvaluesArray.push(tMVolt);\nif (count == 10){\n    valuesArray.sort(function(a,b){\n        return a-b;\n    });\n    valuesArray.shift();\n    valuesArray.pop();\n    var valuesSum = 0;\n    valuesArray.forEach(function(item, index, array){\n        valuesSum += item;\n    });\n    tMVolt = (valuesSum /8);\n    var newT = (-1120.4)* Math.pow(tMVolt,2) + 5742.3 * tMVolt - 4352.9;\n    count = 0;\n    flow.set(\"vArray\",[]);\n    flow.set(\"turbidity\",newT);\n    msg.payload = newT;\n}else{\n    msg.payload = null;\n}\n\nflow.set(\"count\",count);\nreturn msg;","outputs":1,"noerr":0,"x":246,"y":221,"wires":[["2f3c490e.c24576"]]},{"id":"b59c9b8e.67efa8","type":"debug","z":"2472c904.e89266","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":619,"y":225,"wires":[]},{"id":"1c584683.159049","type":"mqtt out","z":"2472c904.e89266","name":"","topic":"aquarium/1/sensors/turbidite","qos":"0","retain":"","broker":"64a87f05.7e7b8","x":687,"y":122,"wires":[]},{"id":"2f3c490e.c24576","type":"switch","z":"2472c904.e89266","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":394,"y":219,"wires":[[],["b59c9b8e.67efa8","1c584683.159049"]]},{"id":"a4d9882b.5df488","type":"grove analog sensor","z":"d6bd6120.0069b","name":"WaterSensor","pin":"2","sensor":"light","repeat":"1","board":"82cc1a7f.675598","x":120,"y":204,"wires":[["66eb0231.3cb65c","e481f984.8e57f8"]]},{"id":"66eb0231.3cb65c","type":"debug","z":"d6bd6120.0069b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":427,"y":241,"wires":[]},{"id":"e481f984.8e57f8","type":"mqtt out","z":"d6bd6120.0069b","name":"","topic":"aquarium/1/sensors/water","qos":"0","retain":"","broker":"64a87f05.7e7b8","x":485,"y":138,"wires":[]},{"id":"3973b725.f8fa58","type":"function","z":"db8052cc.67392","name":"","func":"msg.payload = JSON.parse(msg.payload);\nflow.set(\"thresholdMax\",msg.payload.max);\nflow.set(\"thresholdMin\",msg.payload.min);\nreturn msg;","outputs":1,"noerr":0,"x":311,"y":102,"wires":[["29b62bda.93cab4"]]},{"id":"19923d8e.d60012","type":"inject","z":"db8052cc.67392","name":"Max Temp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":111,"y":431,"wires":[["e2b98e3.e45217"]]},{"id":"a6edb039.2a5be","type":"debug","z":"db8052cc.67392","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":487,"y":432,"wires":[]},{"id":"29b62bda.93cab4","type":"debug","z":"db8052cc.67392","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":545,"y":87,"wires":[]},{"id":"e2b98e3.e45217","type":"function","z":"db8052cc.67392","name":"","func":"msg.payload = flow.get(\"thresholdMax\") || 25;\nreturn msg;","outputs":1,"noerr":0,"x":283,"y":432,"wires":[["a6edb039.2a5be"]]},{"id":"cda7367c.487618","type":"function","z":"db8052cc.67392","name":"","func":"msg.payload = flow.get(\"thresholdMin\") || 25;\nreturn msg;","outputs":1,"noerr":0,"x":283,"y":491,"wires":[["9f782a7b.edd668"]]},{"id":"e7c688fe.d6eea8","type":"inject","z":"db8052cc.67392","name":"Min Temp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":112,"y":491,"wires":[["cda7367c.487618"]]},{"id":"9f782a7b.edd668","type":"debug","z":"db8052cc.67392","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":487,"y":490,"wires":[]},{"id":"f8799ec5.256d2","type":"function","z":"84e8c369.d80a8","name":"","func":"if(flow.get(\"forced\")){\n    msg.payload = JSON.parse(msg.payload);\n    msg.payload = msg.payload.value;\n    flow.set(\"heater\",((msg.payload)? 1 : 0));\n    return msg;\n}else{\n    return null;\n}","outputs":1,"noerr":0,"x":259.5,"y":178,"wires":[["2315c94c.b6f216","21aaa520.01581a"]]},{"id":"7f3e2e85.c5964","type":"http in","z":"84e8c369.d80a8","name":"","url":"/lightingState","method":"post","upload":false,"swaggerDoc":"","x":107,"y":121,"wires":[["1ca6f9a.3550206","f8799ec5.256d2"]]},{"id":"21aaa520.01581a","type":"switch","z":"84e8c369.d80a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":439.5,"y":178,"wires":[["8a9c48ef.2487b8"],["492f89f2.f1aac8"]]},{"id":"1ca6f9a.3550206","type":"http response","z":"84e8c369.d80a8","name":"","statusCode":"","headers":{},"x":290,"y":121,"wires":[]},{"id":"8a9c48ef.2487b8","type":"exec","z":"84e8c369.d80a8","command":"python /home/pi/aquaPlus/relaisLightOn.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Light On","x":662,"y":216,"wires":[[],[],[]]},{"id":"492f89f2.f1aac8","type":"exec","z":"84e8c369.d80a8","command":"python /home/pi/aquaPlus/relaisLightOff.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Light Off","x":663,"y":282,"wires":[[],[],[]]},{"id":"9a6e4a18.283018","type":"debug","z":"2472c904.e89266","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":416,"y":323,"wires":[]},{"id":"8ec76d36.13ce2","type":"function","z":"2472c904.e89266","name":"","func":"msg.payload = msg.payload * 5 / 1023;\nreturn msg;","outputs":1,"noerr":0,"x":376,"y":115,"wires":[[]]},{"id":"2267739d.673b9c","type":"grove digital sensor","z":"2472c904.e89266","name":"","board":"82cc1a7f.675598","sensor":"button","repeat":"1","pin":"3","x":104,"y":303,"wires":[["9a6e4a18.283018","34987682.e633da"]]},{"id":"af3c50a.498e5b","type":"exec","z":"caba1c12.55acc","command":"python /home/pi/aquaPlus/feedFish.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"FeedFish","x":483,"y":158,"wires":[[],[],[]]},{"id":"5ac1b866.92c8d8","type":"mqtt out","z":"caba1c12.55acc","name":"","topic":"aquarium/1/actuators/feed","qos":"","retain":"","broker":"64a87f05.7e7b8","x":528,"y":262,"wires":[]},{"id":"f3ace72.f159518","type":"debug","z":"84e8c369.d80a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":477,"y":556,"wires":[]},{"id":"f992ed34.32169","type":"mqtt out","z":"84e8c369.d80a8","name":"","topic":"aquarium/1/status/light","qos":"0","retain":"","broker":"64a87f05.7e7b8","x":510,"y":418,"wires":[]},{"id":"d5c689b5.8c1df8","type":"mqtt out","z":"84e8c369.d80a8","name":"","topic":"aquarium/1/status/lightForced","qos":"0","retain":"","broker":"64a87f05.7e7b8","x":546,"y":507,"wires":[]},{"id":"a86018c0.0a3688","type":"function","z":"84e8c369.d80a8","name":"","func":"var light = flow.get(\"light\") || 0;\nmsg.payload = light;\nreturn msg;","outputs":1,"noerr":0,"x":303,"y":444,"wires":[["f992ed34.32169","6ccde044.f0106"]]},{"id":"4669ffb9.a2a5b","type":"function","z":"84e8c369.d80a8","name":"","func":"var forced = flow.get(\"forced\") || 0;\nmsg.payload = forced;\nreturn msg;","outputs":1,"noerr":0,"x":305,"y":510,"wires":[["d5c689b5.8c1df8","f3ace72.f159518"]]},{"id":"99d2e003.307db","type":"debug","z":"db8052cc.67392","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":506,"y":162,"wires":[]},{"id":"1417d015.39369","type":"function","z":"db8052cc.67392","name":"","func":"if(flow.get(\"forced\")){\n    msg.payload = JSON.parse(msg.payload);\n    msg.payload = msg.payload.value;\n    flow.set(\"heater\",((msg.payload)? 1 : 0));\n    return msg;\n}else{\n    return null;\n}","outputs":1,"noerr":0,"x":270.5,"y":223,"wires":[["99d2e003.307db","b56ceb9a.bb8408"]]},{"id":"6c437fc3.9fcee","type":"http in","z":"db8052cc.67392","name":"","url":"/heatingState","method":"post","upload":false,"swaggerDoc":"","x":99,"y":158,"wires":[["cd3eac28.556ae","1417d015.39369"]]},{"id":"b56ceb9a.bb8408","type":"switch","z":"db8052cc.67392","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":450.5,"y":223,"wires":[["6d83b551.da75cc"],["220452cc.787b7e"]]},{"id":"cd3eac28.556ae","type":"http response","z":"db8052cc.67392","name":"","statusCode":"","headers":{},"x":299,"y":158,"wires":[]},{"id":"2a4d8af4.9aefc6","type":"debug","z":"84e8c369.d80a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":496,"y":65,"wires":[]},{"id":"ea7904c1.3eac58","type":"function","z":"84e8c369.d80a8","name":"","func":"msg.payload = JSON.parse(msg.payload);\nvalue = msg.payload.value;\nif(value){\n    flow.set(\"forced\",1);\n}else{\n    flow.set(\"forced\",0);\n}\nreturn msg;","outputs":1,"noerr":0,"x":324.5,"y":66,"wires":[["2a4d8af4.9aefc6"]]},{"id":"c94a0613.3485f8","type":"http in","z":"84e8c369.d80a8","name":"","url":"/light","method":"post","upload":false,"swaggerDoc":"","x":122,"y":25,"wires":[["b75173b4.e896a","ea7904c1.3eac58","2a4d8af4.9aefc6"]]},{"id":"b75173b4.e896a","type":"http response","z":"84e8c369.d80a8","name":"","statusCode":"","headers":{},"x":387,"y":24,"wires":[]},{"id":"d6737d3c.908f4","type":"debug","z":"db8052cc.67392","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":541,"y":32,"wires":[]},{"id":"591c67b7.0d7e58","type":"function","z":"db8052cc.67392","name":"","func":"msg.payload = JSON.parse(msg.payload);\nvalue = msg.payload.value;\nif(value){\n    flow.set(\"forced\",1);\n}else{\n    flow.set(\"forced\",0);\n}\nreturn msg;","outputs":1,"noerr":0,"x":339.5,"y":32,"wires":[["d6737d3c.908f4"]]},{"id":"1de91725.eeaaf9","type":"http in","z":"db8052cc.67392","name":"","url":"/heating","method":"post","upload":false,"swaggerDoc":"","x":75,"y":32,"wires":[["591c67b7.0d7e58","cd3eac28.556ae"]]},{"id":"ca52c27f.54d4b","type":"mqtt out","z":"db8052cc.67392","name":"","topic":"aquarium/1/status/heater","qos":"","retain":"","broker":"64a87f05.7e7b8","x":532,"y":557,"wires":[]},{"id":"2a01b6d.860324a","type":"mqtt out","z":"db8052cc.67392","name":"","topic":"aquarium/1/status/heaterForced","qos":"","retain":"","broker":"64a87f05.7e7b8","x":553,"y":604,"wires":[]},{"id":"339cb5f.d736c4a","type":"mqtt out","z":"db8052cc.67392","name":"","topic":"aquarium/1/status/heaterThreshold","qos":"","retain":"","broker":"64a87f05.7e7b8","x":563,"y":652,"wires":[]},{"id":"ad6e674c.234d08","type":"function","z":"db8052cc.67392","name":"","func":"var value = flow.get(\"heater\") || 0;\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":281,"y":560,"wires":[["ca52c27f.54d4b"]]},{"id":"722777d8.d37378","type":"function","z":"db8052cc.67392","name":"","func":"var value = flow.get(\"heaterForced\") || 0;\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":281,"y":608,"wires":[["2a01b6d.860324a"]]},{"id":"cc2ec174.8aa8c","type":"function","z":"db8052cc.67392","name":"","func":"var max = flow.get(\"thresholdMax\") || 25;\nvar min = flow.get(\"thresholdMin\") || 20;\nmsg.payload = {\"max\":max, \"min\":min};\nreturn msg;","outputs":1,"noerr":0,"x":281,"y":659,"wires":[["339cb5f.d736c4a"]]},{"id":"27142d35.b4bb52","type":"inject","z":"db8052cc.67392","name":"Status","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":97,"y":610,"wires":[["ad6e674c.234d08","722777d8.d37378","cc2ec174.8aa8c"]]},{"id":"4f320923.c46898","type":"http in","z":"db8052cc.67392","name":"","url":"/tempSettings","method":"post","upload":false,"swaggerDoc":"","x":100,"y":98,"wires":[["3973b725.f8fa58","cd3eac28.556ae"]]},{"id":"2fe5494.6014bb6","type":"grove analog sensor","z":"84e8c369.d80a8","name":"LightSensor","pin":"0","sensor":"light","repeat":"1","board":"82cc1a7f.675598","x":84,"y":268,"wires":[["e3fbd112.4e831","c9bc5d2f.a80bd","fed9621f.4b467"]]},{"id":"40ad324b.fdf3ec","type":"http in","z":"caba1c12.55acc","name":"","url":"/foodState","method":"post","upload":false,"swaggerDoc":"","x":141,"y":75,"wires":[["cb3870a.bc11d9","af3c50a.498e5b","5ac1b866.92c8d8","83333a8e.4b55d8"]]},{"id":"cb3870a.bc11d9","type":"http response","z":"caba1c12.55acc","name":"","statusCode":"","headers":{},"x":388,"y":90,"wires":[]},{"id":"aa52b46f.253bc8","type":"function","z":"caba1c12.55acc","name":"","func":"msg.payload = JSON.parse(msg.payload);\nmsg.payload = msg.payload.value;\nreturn msg;","outputs":1,"noerr":0,"x":238,"y":202,"wires":[[]]},{"id":"83333a8e.4b55d8","type":"debug","z":"caba1c12.55acc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":546,"y":32,"wires":[]},{"id":"d683f7e5.1f4eb8","type":"function","z":"84e8c369.d80a8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":95,"y":191,"wires":[[]]},{"id":"6413e5b5.8453dc","type":"inject","z":"1b64d624.3c22ea","name":"Init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":228,"y":52,"wires":[["53fae694.3ba708"]]},{"id":"53fae694.3ba708","type":"function","z":"1b64d624.3c22ea","name":"init","func":"flow.set(\"ph\",1);\nreturn msg;","outputs":1,"noerr":0,"x":511,"y":53,"wires":[[]]}]