NR_IHM/.flow.json.backup
[{"id":"50d7ae3d.7a7a8","type":"tab","label":"UI","disabled":false,"info":""},{"id":"f9acbb33.1c8b18","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bfd4bf28.68c7c","type":"http request","z":"50d7ae3d.7a7a8","name":"Send instruction to heating","method":"POST","ret":"txt","url":"127.0.0.1:1880/heating","tls":"","x":800,"y":140,"wires":[[]]},{"id":"828f90fe.0b439","type":"function","z":"50d7ae3d.7a7a8","name":"","func":"msg.payload = {\n    idUser: \"5be19e304ac5bb06528b882b\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["bfd4bf28.68c7c"]]},{"id":"9a5f4c32.2b18f","type":"function","z":"50d7ae3d.7a7a8","name":"","func":"msg.payload = {\n    idUser: \"5be19e304ac5bb06528b882b\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":240,"wires":[["4c7ad596.b8ccfc"]]},{"id":"4c7ad596.b8ccfc","type":"http request","z":"50d7ae3d.7a7a8","name":"Send instruction to heating","method":"POST","ret":"txt","url":"127.0.0.1:1880/light","tls":"","x":780,"y":240,"wires":[[]]},{"id":"90d2e1c2.a5cff","type":"http request","z":"50d7ae3d.7a7a8","name":"Change lamp's color","method":"PUT","ret":"txt","url":"127.0.0.1:1880/light","tls":"","x":940,"y":540,"wires":[[]]},{"id":"744a9f5c.30ff6","type":"change","z":"50d7ae3d.7a7a8","name":"","rules":[{"t":"set","p":"payload.ipUser","pt":"msg","to":"192.9.0.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":540,"wires":[["90d2e1c2.a5cff"]]},{"id":"8f9fa457.c26a68","type":"http in","z":"50d7ae3d.7a7a8","name":"/chart Route","url":"/chart/:sensor","method":"post","upload":false,"swaggerDoc":"","x":190,"y":920,"wires":[["21dfad61.611d12","c8ffd04.df2563","4370ab1f.63cb04"]]},{"id":"198c1a02.964e66","type":"switch","z":"50d7ae3d.7a7a8","name":"Redirect to the good chart","property":"req.params.sensor","propertyType":"msg","rules":[{"t":"eq","v":"temperature","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":920,"wires":[["a7fa83f9.46ca3"]]},{"id":"c8ffd04.df2563","type":"function","z":"50d7ae3d.7a7a8","name":"Transform payload","func":"msg.payload = msg.payload.value\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":920,"wires":[["198c1a02.964e66"]]},{"id":"21dfad61.611d12","type":"http response","z":"50d7ae3d.7a7a8","name":"","statusCode":"","headers":{},"x":390,"y":820,"wires":[]},{"id":"4370ab1f.63cb04","type":"debug","z":"50d7ae3d.7a7a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":1080,"wires":[]},{"id":"ea999f70.b30f3","type":"ui_switch","z":"50d7ae3d.7a7a8","name":"Activate heating","label":"Chauffage","group":"2e734282.e0107e","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":310,"y":140,"wires":[["828f90fe.0b439"]]},{"id":"e049976f.f6b7f8","type":"ui_switch","z":"50d7ae3d.7a7a8","name":"Activate light","label":"Lumière","group":"2e734282.e0107e","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":300,"y":260,"wires":[["9a5f4c32.2b18f"]]},{"id":"88193cd7.e470b","type":"ui_colour_picker","z":"50d7ae3d.7a7a8","name":"","label":"Couleur de la lampe","group":"a800644a.7d3278","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"dynOutput":"true","order":0,"width":0,"height":0,"passthru":true,"topic":"","x":330,"y":540,"wires":[["744a9f5c.30ff6"]]},{"id":"a7fa83f9.46ca3","type":"ui_chart","z":"50d7ae3d.7a7a8","name":"Temperature chart","group":"27af020e.4ac9be","order":0,"width":0,"height":0,"label":"Temperature Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"5","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1010,"y":780,"wires":[[],[]]}]