NR_orchestreur/.flow.json.backup
[{"id":"58774b2a.364ac4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1482c417.37e17c","type":"tab","label":"Notify route","disabled":false,"info":""},{"id":"8f3c59a9.0ca068","type":"tab","label":"Sensor Route","disabled":false,"info":""},{"id":"4e495090.bd6a3","type":"tab","label":"Subscribe","disabled":false,"info":"Permet à un Aquaplus de s'enregistrer sur le serveur central"},{"id":"7c737567.b4bf5c","type":"tab","label":"UI","disabled":false,"info":""},{"id":"f9473100.db99f","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"f231add2.68aaa","type":"twitter-credentials","z":"","screen_name":""},{"id":"c520e62a.4519a8","type":"board-config","z":"58774b2a.364ac4","board":"GrovePi"},{"id":"3f3da3db.ae60dc","type":"mongodb3","z":"58774b2a.364ac4","uri":"mongodb://aqua:aquaaqua1@ds145923.mlab.com:45923/iot_aquaplus","name":"iot_aquaplus","options":"","parallelism":"-1"},{"id":"35a129de.8a14b6","type":"ui_base","z":"58774b2a.364ac4","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ea84d70.f18b228","type":"ui_link","z":"58774b2a.364ac4","name":"Link 3","icon":"open_in_browser","target":"newtab","order":3},{"id":"8a890801.ef38e8","type":"ui_tab","z":"58774b2a.364ac4","name":"Home","icon":"dashboard"},{"id":"ad1022ad.21bba","type":"ui_group","z":"58774b2a.364ac4","name":"Activate things","tab":"6b80670.4180998","disp":true,"width":"6","collapse":false},{"id":"278b3f43.96e6a","type":"ui_group","z":"58774b2a.364ac4","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"8972ab23.00e6b8","type":"ui_group","z":"58774b2a.364ac4","name":"Color picker","tab":"6b80670.4180998","order":2,"disp":true,"width":"6","collapse":false},{"id":"3aee7874.89ab48","type":"ui_group","z":"58774b2a.364ac4","name":"Chart","tab":"6b80670.4180998","disp":true,"width":"6","collapse":false},{"id":"c13cfa1f.ffbfd8","type":"http in","z":"1482c417.37e17c","name":"Notify a user with a message","url":"/notify","method":"post","upload":false,"swaggerDoc":"","x":240,"y":300,"wires":[["4e13096f.8e0288","e4645d83.085e1"]]},{"id":"4e13096f.8e0288","type":"switch","z":"1482c417.37e17c","name":"Choose notification system","property":"payload.system","propertyType":"msg","rules":[{"t":"eq","v":"mail","vt":"str"},{"t":"eq","v":"twitter","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":300,"wires":[["828953ce.3481"],["efa10268.79139"]]},{"id":"828953ce.3481","type":"e-mail","z":"1482c417.37e17c","server":"smtp.gmail.com","port":"465","secure":true,"name":"clement.beal96@gmail.com","dname":"Send email","x":990,"y":200,"wires":[]},{"id":"efa10268.79139","type":"twitter out","z":"1482c417.37e17c","twitter":"f231add2.68aaa","name":"Send tweet message","x":980,"y":380,"wires":[]},{"id":"f3bad2e7.1375f","type":"http in","z":"8f3c59a9.0ca068","name":"Sensor's datas ","url":"/sensor/:sensor","method":"post","upload":false,"swaggerDoc":"","x":260,"y":200,"wires":[["ef172fe0.0ca0c"]]},{"id":"ef172fe0.0ca0c","type":"function","z":"8f3c59a9.0ca068","name":"Transform request to valid data set","func":"msg.payload = {\n    sensor: msg.req.params[\"sensor\"],\n    time: Date.now(),\n    idUser: 2,\n    value: msg.payload.value\n};\n\nmsg.topic = msg.req.params[\"sensor\"];\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":200,"wires":[["ca331635.411888","2fef0bb7.59e2e4","9cf7c27.8b8b24"]]},{"id":"ca331635.411888","type":"http response","z":"8f3c59a9.0ca068","name":"Responde to client","statusCode":"","headers":{},"x":970,"y":140,"wires":[]},{"id":"537f1fe2.371ef","type":"http in","z":"4e495090.bd6a3","name":"Subscribe's route","url":"/subscribe","method":"post","upload":false,"swaggerDoc":"","x":280,"y":340,"wires":[["591c6c62.216634","25dc7844.1f4d78","10ed9788.9ff5d8"]]},{"id":"591c6c62.216634","type":"http response","z":"4e495090.bd6a3","name":"Responde to client","statusCode":"","headers":{},"x":530,"y":240,"wires":[]},{"id":"b0eb7ab6.9e1108","type":"comment","z":"8f3c59a9.0ca068","name":"Save datas from Aquaplus","info":"","x":430,"y":120,"wires":[]},{"id":"6b4f06c0.f62648","type":"http in","z":"8f3c59a9.0ca068","name":"Heating","url":"/heating","method":"post","upload":false,"swaggerDoc":"","x":210,"y":580,"wires":[["7939318c.9c81e","f041fe01.9ad3e"]]},{"id":"7939318c.9c81e","type":"http response","z":"8f3c59a9.0ca068","name":"Responde to client","statusCode":"","headers":{},"x":690,"y":580,"wires":[]},{"id":"b67362d8.0c1d","type":"comment","z":"8f3c59a9.0ca068","name":"Activate actuators","info":"","x":330,"y":500,"wires":[]},{"id":"b92ac5c6.1b0758","type":"debug","z":"8f3c59a9.0ca068","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1470,"y":600,"wires":[]},{"id":"19f4a61f.7fc39a","type":"function","z":"8f3c59a9.0ca068","name":"Transform object to be compatible with MongoDb","func":"var id = msg.payload.idUser;\n\nmsg.payload = {\n    _id: id\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":640,"wires":[["964bde51.92569"]]},{"id":"f041fe01.9ad3e","type":"http request","z":"8f3c59a9.0ca068","name":"Activate heating of user's aquaplus","method":"POST","ret":"txt","url":"{{ msg.payload.ipUser }}:1880/heating","tls":"","x":620,"y":760,"wires":[[]]},{"id":"ebb010a3.1fcb7","type":"http in","z":"8f3c59a9.0ca068","name":"Light","url":"/light","method":"post","upload":false,"swaggerDoc":"","x":152,"y":991,"wires":[["5714994e.a856d8","f811784e.1bbf58"]]},{"id":"5714994e.a856d8","type":"http response","z":"8f3c59a9.0ca068","name":"Responde to client","statusCode":"","headers":{},"x":632,"y":991,"wires":[]},{"id":"aa69de3.fc24b2","type":"debug","z":"8f3c59a9.0ca068","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1132,"y":1051,"wires":[]},{"id":"aac7f297.edf7a","type":"function","z":"8f3c59a9.0ca068","name":"Transform object to be compatible with MongoDb","func":"var id = msg.payload.idUser;\n\nmsg.payload = {\n    _id: id,\n    red: msg.payload.red,\n    green: msg.payload.green,\n    blue: msg.payload.blue\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":612,"y":1091,"wires":[["16ea879c.a7e838"]]},{"id":"2fcd544d.46945c","type":"http request","z":"8f3c59a9.0ca068","name":"Activate/desactivate light","method":"POST","ret":"txt","url":"{{ msg.payload.ipUser }}:1880/heating","tls":"","x":1170,"y":1200,"wires":[[]]},{"id":"61203d34.a02ba4","type":"http request","z":"7c737567.b4bf5c","name":"Send instruction to heating","method":"POST","ret":"txt","url":"127.0.0.1:1880/heating","tls":"","x":800,"y":140,"wires":[[]]},{"id":"b1200bd7.b4ee28","type":"function","z":"7c737567.b4bf5c","name":"","func":"msg.payload = {\n    idUser: \"5be19e304ac5bb06528b882b\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["61203d34.a02ba4"]]},{"id":"1d01fbb8.88a994","type":"function","z":"7c737567.b4bf5c","name":"","func":"msg.payload = {\n    idUser: \"5be19e304ac5bb06528b882b\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":240,"wires":[["73483619.60f308"]]},{"id":"73483619.60f308","type":"http request","z":"7c737567.b4bf5c","name":"Send instruction to heating","method":"POST","ret":"txt","url":"127.0.0.1:1880/light","tls":"","x":780,"y":240,"wires":[[]]},{"id":"36493dbf.cb7ca2","type":"http request","z":"7c737567.b4bf5c","name":"Change lamp's color","method":"PUT","ret":"txt","url":"127.0.0.1:1880/light","tls":"","x":940,"y":540,"wires":[[]]},{"id":"16686cd0.37a343","type":"http in","z":"8f3c59a9.0ca068","name":"Light Color","url":"/light","method":"put","upload":false,"swaggerDoc":"","x":140,"y":1320,"wires":[["1ad2e778.43cdc9","e0a14605.43cc58"]]},{"id":"1ad2e778.43cdc9","type":"http response","z":"8f3c59a9.0ca068","name":"Responde to client","statusCode":"","headers":{},"x":350,"y":1320,"wires":[]},{"id":"118e084a.c234b8","type":"debug","z":"8f3c59a9.0ca068","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1380,"wires":[]},{"id":"7b3f6edd.ace8b","type":"function","z":"8f3c59a9.0ca068","name":"Transform object to be compatible with MongoDb","func":"var id = msg.payload.idUser;\n\nmsg.payload = {\n    _id: id,\n    red: msg.payload.r,\n    green: msg.payload.g,\n    blue: msg.payload.b\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1420,"wires":[["68b27fc.b93a38"]]},{"id":"20922478.5dad9c","type":"http request","z":"8f3c59a9.0ca068","name":"Change color's light of user's aquaplus","method":"POST","ret":"txt","url":"{{ msg.payload.ipUser }}:1880/heating","tls":"","x":1188,"y":1529,"wires":[[]]},{"id":"10ed9788.9ff5d8","type":"function","z":"4e495090.bd6a3","name":"Default color","func":"msg.payload = {\n    ipUser: msg.payload.ipUser,\n    r: 255,\n    g: 255,\n    b: 255\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":440,"wires":[["e0b05153.179f9"]]},{"id":"e0a14605.43cc58","type":"function","z":"8f3c59a9.0ca068","name":"Transform object to be compatible with MongoDb","func":"var ip = msg.payload.ipUser;\n\nmsg.payload = \n{\n    query: { ipUser: ip },\n    update :{\n        $set: {\n            r: msg.payload.r,\n            g: msg.payload.g,\n            b: msg.payload.b\n        }\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1520,"wires":[["d72838a6.48e898","5d42892.f107f78"]]},{"id":"5d42892.f107f78","type":"debug","z":"8f3c59a9.0ca068","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":744,"y":1709,"wires":[]},{"id":"263a5408.6b2e6c","type":"change","z":"7c737567.b4bf5c","name":"","rules":[{"t":"set","p":"payload.ipUser","pt":"msg","to":"192.9.0.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":540,"wires":[["36493dbf.cb7ca2"]]},{"id":"e4645d83.085e1","type":"debug","z":"1482c417.37e17c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":240,"wires":[]},{"id":"b2d2fd9.52d73","type":"comment","z":"1482c417.37e17c","name":"Mail works but not with my gmail account","info":"","x":1040,"y":100,"wires":[]},{"id":"c96f76bc.739988","type":"http in","z":"7c737567.b4bf5c","name":"/chart Route","url":"/chart/:sensor","method":"post","upload":false,"swaggerDoc":"","x":190,"y":920,"wires":[["20991945.03c116","788ff38.21a6b0c","bdde1db0.04f23"]]},{"id":"478892b0.40e1cc","type":"switch","z":"7c737567.b4bf5c","name":"Redirect to the good chart","property":"req.params.sensor","propertyType":"msg","rules":[{"t":"eq","v":"temperature","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":920,"wires":[["b732862b.d79188"]]},{"id":"788ff38.21a6b0c","type":"function","z":"7c737567.b4bf5c","name":"Transform payload","func":"msg.payload = msg.payload.value\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":920,"wires":[["478892b0.40e1cc"]]},{"id":"20991945.03c116","type":"http response","z":"7c737567.b4bf5c","name":"","statusCode":"","headers":{},"x":390,"y":820,"wires":[]},{"id":"9cf7c27.8b8b24","type":"http request","z":"8f3c59a9.0ca068","name":"Sens data to client's chart","method":"POST","ret":"txt","url":"127.0.0.1:1880/chart/{{{topic}}}","tls":"","x":770,"y":360,"wires":[[]]},{"id":"bdde1db0.04f23","type":"debug","z":"7c737567.b4bf5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":1080,"wires":[]},{"id":"93f8cfc2.e652f","type":"objectid","z":"8f3c59a9.0ca068","name":"Create ObjectId","x":620,"y":640,"wires":[["19f4a61f.7fc39a"]]},{"id":"f811784e.1bbf58","type":"objectid","z":"8f3c59a9.0ca068","name":"Create ObjectId","x":282,"y":1091,"wires":[["aac7f297.edf7a"]]},{"id":"2fef0bb7.59e2e4","type":"mongodb3 in","z":"8f3c59a9.0ca068","service":"_ext_","configNode":"f3958561.a2c008","name":"Insert data ","collection":"user","operation":"insertOne","x":930,"y":260,"wires":[[]]},{"id":"25dc7844.1f4d78","type":"mongodb3 in","z":"4e495090.bd6a3","service":"_ext_","configNode":"f3958561.a2c008","name":"Insert IP's user","collection":"user","operation":"insertOne","x":560,"y":360,"wires":[[]]},{"id":"964bde51.92569","type":"mongodb3 in","z":"8f3c59a9.0ca068","service":"_ext_","configNode":"f3958561.a2c008","name":"Get IP of user","collection":"user","operation":"findOne","x":1260,"y":680,"wires":[["b92ac5c6.1b0758","f041fe01.9ad3e"]]},{"id":"16ea879c.a7e838","type":"mongodb3 in","z":"8f3c59a9.0ca068","service":"_ext_","configNode":"f3958561.a2c008","name":"Get IP of user","collection":"user","operation":"findOne","x":922,"y":1131,"wires":[["aa69de3.fc24b2","2fcd544d.46945c"]]},{"id":"68b27fc.b93a38","type":"mongodb3 in","z":"8f3c59a9.0ca068","service":"_ext_","configNode":"f3958561.a2c008","name":"Get IP of user","collection":"user","operation":"findOne","x":900,"y":1460,"wires":[["118e084a.c234b8","20922478.5dad9c"]]},{"id":"d72838a6.48e898","type":"mongodb3 in","z":"8f3c59a9.0ca068","service":"_ext_","configNode":"f3958561.a2c008","name":"Change user's lamp's color","collection":"light_color","operation":"updateOne","x":900,"y":1600,"wires":[["5d42892.f107f78"]]},{"id":"e0b05153.179f9","type":"mongodb3 in","z":"4e495090.bd6a3","service":"_ext_","configNode":"f3958561.a2c008","name":"Insert color light","collection":"light_color","operation":"insertOne","x":560,"y":440,"wires":[[]]},{"id":"30895b34.5037e4","type":"mongodb3 in","z":"4e495090.bd6a3","service":"_ext_","configNode":"f3958561.a2c008","name":"Insert IP's user","collection":"user","operation":"insertOne","x":560,"y":520,"wires":[[]]},{"id":"bb19f433.d802c8","type":"ui_switch","z":"7c737567.b4bf5c","name":"Activate heating","label":"Chauffage","group":"2e734282.e0107e","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":310,"y":140,"wires":[["b1200bd7.b4ee28"]]},{"id":"874a1a12.2e05c8","type":"ui_switch","z":"7c737567.b4bf5c","name":"Activate light","label":"Lumière","group":"2e734282.e0107e","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":300,"y":260,"wires":[["1d01fbb8.88a994"]]},{"id":"846809e1.bee8e8","type":"ui_colour_picker","z":"7c737567.b4bf5c","name":"","label":"Couleur de la lampe","group":"a800644a.7d3278","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"dynOutput":"true","order":0,"width":0,"height":0,"passthru":true,"topic":"","x":330,"y":540,"wires":[["263a5408.6b2e6c"]]},{"id":"b732862b.d79188","type":"ui_chart","z":"7c737567.b4bf5c","name":"Temperature chart","group":"27af020e.4ac9be","order":0,"width":0,"height":0,"label":"Temperature Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"5","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1010,"y":780,"wires":[[],[]]}]